<h4> <%= @question.description %> </h4>
  <% @question.answers.each do |a| %>
    <%= a.answer_text %><br>
  <% end %>

<div id="answers">
  <ul>

  </ul>
</div>



<%= link_to "New Answer", new_answer_path(question_id: @question.id), id: "new_link", remote: true %>


